<!-- TODO:-->
<!--Create the Container Page inspired from github repository page-->

{% extends 'details_base.html' %}



{% block entity_identifier %}      

   <a href="{{url_for('index')}}"> container </a>
   /
   <a href="{{url_for('container_details', container=container)}}">{{container.name}}</a>

{% endblock %}


{% block container_action %}

   <div class="ms-auto">
      <div class="btn-group" role="group" aria-label="Basic example">
         <button type="button" class="btn btn-sm btn-primary" {%if container.status == 'running'%}disabled{%endif%}>Start</button>
         <button type="button" class="btn btn-sm btn-primary">Stop</button>
         <button type="button" class="btn btn-sm btn-primary">Kill</button>
         <button type="button" class="btn btn-sm btn-primary">Restart</button>
      </div>
      <div class="btn-group" role="group" aria-label="Basic example">
         <button type="button" class="btn btn-sm btn-primary">Pause</button>
         <button type="button" class="btn btn-sm btn-primary">Resume</button>
      </div>
   </div>

{% endblock %}


{% block entity_content %}

   <div class="container p-4">
      <div class="p-2 mb-3 bg-light rounded-3">
         <div class="container-fluid">
            <table class="table table-hover ">
               <thead>
                  <tr class="d-flex">
                     <th scope="col" class="col-lg-12" colspan="2" style="text-align: left;">Container Details:</th>
                  </tr>
               </thead>
               <tbody>
                  <tr class="d-flex">
                     <td class="col-sm-2">ID:</td>
                     <td class="col-sm-10">{{container.id}}</td>
                  </tr>
                  <tr class="d-flex">
                     <td class="col-sm-2">Image:</td>
                     <td class="col-sm-10">
                        <span class="badge bg-primary">
                           {{','.join(container.image.attrs['RepoTags'])}}
                        </span>
                     </td>
                  </tr>
                  <tr class="d-flex">
                     <td class="col-sm-2">Name:</td>
                     <td class="col-sm-10">{{container.name}}</td>
                  </tr>
                  <tr class="d-flex">
                     <td class="col-sm-2">IP Address:</td>
                     <td class="col-sm-10">{{container.attrs['NetworkSettings']['IPAddress']}}</td>
                  </tr>
                  <tr class="d-flex">
                     <td class="col-sm-2">Status</td>
                     
                        <td class="col-sm-10">
                           {% if container.status == 'running' %}
                           <span class="badge bg-success">
                           {% elif container.status == 'exited' %}
                           <span class="badge bg-secondary">
                           {% endif %}
                              {{ container.status.capitalize() }}
                           </span>
                        </td>
                  </tr>
                  <tr class="d-flex">
                     <td class="col-sm-2">Created</td>
                     <td class="col-sm-10">{{container.attrs['Created']}}</td>
                  </tr>
                  <tr class="d-flex">
                     <td class="col-sm-2">Restart Policy:</td>
                     <td class="col-sm-10">{{container.attrs['HostConfig']['RestartPolicy']['Name'].capitalize()}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      
   </div>

{% endblock %}

{% block container_logs %}

   
   <div class="container p-4 ">
      <div class="p-2 mb-3 rounded-3">
         <div class="container-fluid ">
            <div class="card">
               <h5 class="card-header">Logs for container: {{container.name}} [{{container.short_id}}]</h5>
               <div class="card-body logs scroll min-vh-100">
                  {% for log in container_logs %}
                     {{ log }}<br>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
   </div>

{% endblock %}