{% extends 'nav.html' %}

{% block content %}

<style>
   .entity-header{
      background: #FAFBFC;
   }
   .nav-link{
      background: #FAFBFC;
      color: #000000;
   }
   a{
      text-decoration: none;
      color: black;
   }
   .nav{
      background: #FAFBFC;
   }
   .active-nav{
      color:#09f;
      border-bottom:3px solid #09f;
   }
   .nav-icon{
      filter: invert(74%) sepia(3%) saturate(906%) hue-rotate(169deg) brightness(85%) contrast(84%);
   }
   .logs{
      font-family: 'Courier New', 'Courier', 'monospace';
      font-size: smaller;
      max-height: 80px;
      /* font-style: italic; */
   }
   .scroll {
      /* max-height: 300px; */
      overflow-y: auto;
   }
   td {
      white-space: normal !important; 
      word-wrap: break-word;  
   }
   table {
      table-layout: fixed;
   }

</style>


<div class="p-3 entity-header d-flex">
   <div class="col-md-6 px-3 text-truncate" >
      <a href="#" class="pl-8">
         {% if entity == 'container' %}
         <img src="../static/img/cns.png"/>
            {% endif %}

      </a>
         {% block entity_identifier %}
            <!-- object_type / object_name -->
         {% endblock %}
   </div>
   
   {% block container_action %}
      <!-- for container this section would display start, stop, kill, pause, resume etc buttons -->
   {% endblock %}
</div>


<div class="entity-header col-md-12">
   <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
         <a class="nav-link active-nav" type="button" id="summary-tab" data-bs-toggle="tab" data-bs-target="#nav-summary" role="tab" aria-controls="nav-summary" aria-selected="true">
               <img src="../static/img/info-circle.svg" class="nav-icon"/>
               <span class="px-1">Summary</span>
         </a>
         <a class="nav-link" type="button" id="accesscontrol-tab" data-bs-toggle="tab" data-bs-target="#nav-accesscontrol" role="tab" aria-controls="nav-accesscontrol" aria-selected="false">
               <img src="../static/img/eye.svg" class="nav-icon"/>
               <span class="px-1">Access Control</span>
         </a>
         <a class="nav-link" type="button" id="image-tab" data-bs-toggle="tab" data-bs-target="#nav-image" role="tab" aria-controls="nav-image" aria-selected="false">
               <img src="../static/img/layers.svg" class="nav-icon"/>
               <span class="px-1">Image</span>
         </a>
         
         <a class="nav-link" type="button" id="network-tab" data-bs-toggle="tab" data-bs-target="#nav-network" role="tab" aria-controls="nav-network" aria-selected="false">
               <img src="../static/img/hdd-network.svg" class="nav-icon"/>
               <span class="px-1">Network</span>
         </a>
         <a class="nav-link" type="button" id="storage-tab" data-bs-toggle="tab" data-bs-target="#nav-storage" role="tab" aria-controls="nav-storage" aria-selected="false">
               <img src="../static/img/hdd-stack.svg" class="nav-icon"/>
               <span class="px-1">Storage</span>
         </a>
         <a class="nav-link" type="button" id="inspect-tab" data-bs-toggle="tab" data-bs-target="#nav-inspect" role="tab" aria-controls="nav-inspect" aria-selected="false">
            <img src="../static/img/manage_search.svg" class="nav-icon"/>
            <span class="px-1">Inspect</span>
         </a>
         <a class="nav-link" type="button" id="logs-tab" data-bs-toggle="tab" data-bs-target="#nav-logs" role="tab" aria-controls="nav-logs" aria-selected="false">
            <img src="../static/img/description.svg" class="nav-icon"/>
            <span class="px-1">Logs</span>
         </a>
      </div>
   </nav>
</div>

<div class="tab-content" id="nav-tabcontent">
   <div class="tab-pane fade show active" id="nav-summary" role="tabpanel" aria-labelledby="summary-tab">
      <h4>
         {% block entity_content %}
         <!-- container summary goes here -->
         {% endblock %}
      </h4>
   </div>

   <div class="tab-pane fade show" id="nav-accesscontrol" role="tabpanel" aria-labelledby="accesscontrol-tab">
      <h4>access control here</h4>
   </div>

   <div class="tab-pane fade show" id="nav-image" role="tabpanel" aria-labelledby="image-tab">
      {% block image_data %}
      <!-- image data goes here -->
      {% endblock %}
   </div>

   <div class="tab-pane fade show" id="nav-network" role="tabpanel" aria-labelledby="network-tab">
      <h4>network</h4>
   </div>

   <div class="tab-pane fade show" id="nav-storage" role="tabpanel" aria-labelledby="storage-tab">
      <h4>storage</h4>
   </div>

   <div class="tab-pane fade show" id="nav-inspect" role="tabpanel" aria-labelledby="inspect-tab">
      {% block inspect_data %}
      <!-- TODO: Add an "Export inspect data to JSON" button -->
      <!-- container inspect data goes here -->
      {% endblock %}
   </div>

   <div class="tab-pane fade show" id="nav-logs" role="tabpanel" aria-labelledby="logs-tab">
      
         {% block container_logs %}
         <!-- container logs goes here -->
         {% endblock %}
      
   </div>

</div>




        

  {% endblock %}


