<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docker Sail</title>
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    
    <script src="../static/js/bootstrap.js"></script>
    
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="index.html" rel="stylesheet">
    <style>
        .table {
          table-layout:fixed;
          font-family:Helvetica;
          font-size: 14px;
        }

        .table td {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 9px;
        }

        .table th {
            text-align: center;
        }

        .table .side-attrs {
            text-align: center;
        }

        .nav {
            background: rgb(240, 240, 240);
        }
    </style>
</head>
<body>

  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sailorman</a>
    </div>
  </nav>

  {% block content %}

  {% endblock %}
</body>
</html>